<!DOCTYPE html>
<html>
  <head>
    <title>Iris Prediction</title>
  </head>
  <body>
    <h2>Enter Flower Features</h2>
    <form action="/predict" method="post">
      <input type="text" name="f1" placeholder="Sepal Length"><br>
      <input type="text" name="f2" placeholder="Sepal Width"><br>
      <input type="text" name="f3" placeholder="Petal Length"><br>
      <input type="text" name="f4" placeholder="Petal Width"><br>
      <button type="submit">Predict</button>
    </form>
  </body>
</html>
